## Project 1: World Migration, Causes and Associations

###### Group Evelyn Kitagawa: Neha Lala, Jackie Schneider, Himalia Joshi, Monica Wilson, Lea Yamashiro, Kevin Dunn

In [81]:
%%capture
!pip install wbdata
!pip install pandas
import wbdata
!pip install cufflinks # IF NECESSARY
import cufflinks as cf
cf.go_offline()
!pip install pandas
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [103]:
# ARRAY OF COUNTRY CODES (top 20% migration rate) 
# do not change this 

migration_codes = ['CUW', 'MHL', 'QAT', 'SYR', 'ASM', 'LBN', 'SSD', 'KWT', 'MAF', 'VEN', 
    'OMN', 'TON', 'SAU', 'XKX', 'MNP', 'MDA', 'CAF', 'BHR', 'GUY', 'WSM', 
    'PRI', 'ERI', 'FJI', 'FSM', 'TUV', 'BIH', 'GUM', 'VCT', 'ARM', 'PSS', 
    'STP', 'ZAF', 'SWZ', 'NCL', 'SLV', 'BDI', 'PAK', 'KIR', 'GRL', 'DMA', 
    'LTU', 'NPL']

#### Cleaning Data

In [96]:
SOURCE=75
esg_indic = wbdata.get_indicator(source=SOURCE)
print(country_array)

['Curacao', 'Marshall Islands', 'Qatar', 'Syrian Arab Republic', 'American Samoa', 'Lebanon', 'South Sudan', 'Kuwait', 'St. Martin (French part)', 'Venezuela, RB', 'Oman', 'Tonga', 'Saudi Arabia', 'Kosovo', 'Northern Mariana Islands', 'Moldova', 'Central African Republic', 'Bahrain', 'Guyana', 'Samoa', 'Puerto Rico', 'Eritrea', 'Fiji', 'Micronesia, Fed. Sts.', 'Tuvalu', 'Bosnia and Herzegovina', 'Guam', 'St. Vincent and the Grenadines', 'Armenia', 'Pacific island small states', 'Sao Tome and Principe', 'South Africa', 'Eswatini', 'New Caledonia', 'El Salvador', 'Burundi', 'Pakistan', 'Kiribati', 'Greenland', 'Dominica', 'Lithuania', 'Nepal']

In [95]:
countries_total = wbdata.get_country()

country_codes_for_mig = ['CUW', MHL]

countries_total

id    name
----  --------------------------------------------------------------------------------
ABW   Aruba
AFE   Africa Eastern and Southern
AFG   Afghanistan
AFR   Africa
AFW   Africa Western and Central
AGO   Angola
ALB   Albania
AND   Andorra
ARB   Arab World
ARE   United Arab Emirates
ARG   Argentina
ARM   Armenia
ASM   American Samoa
ATG   Antigua and Barbuda
AUS   Australia
AUT   Austria
AZE   Azerbaijan
BDI   Burundi
BEA   East Asia & Pacific (IBRD-only countries)
BEC   Europe & Central Asia (IBRD-only countries)
BEL   Belgium
BEN   Benin
BFA   Burkina Faso
BGD   Bangladesh
BGR   Bulgaria
BHI   IBRD countries classified as high income
BHR   Bahrain
BHS   Bahamas, The
BIH   Bosnia and Herzegovina
BLA   Latin America & the Caribbean (IBRD-only countries)
BLR   Belarus
BLZ   Belize
BMN   Middle East & North Africa (IBRD-only countries)
BMU   Bermuda
BOL   Bolivia
BRA   Brazil
BRB   Barbados
BRN   Brunei Darussalam
BSS   Sub-Saharan Africa (IBRD-only countries)
BTN   Bhutan
BWA   Botswana
CAA   Sub-Saharan Africa (IFC classification)
CAF   Central African Republic
CAN   Canada
CEA   East Asia and the Pacific (IFC classification)
CEB   Central Europe and the Baltics
CEU   Europe and Central Asia (IFC classification)
CHE   Switzerland
CHI   Channel Islands
CHL   Chile
CHN   China
CIV   Cote d'Ivoire
CLA   Latin America and the Caribbean (IFC classification)
CME   Middle East and North Africa (IFC classification)
CMR   Cameroon
COD   Congo, Dem. Rep.
COG   Congo, Rep.
COL   Colombia
COM   Comoros
CPV   Cabo Verde
CRI   Costa Rica
CSA   South Asia (IFC classification)
CSS   Caribbean small states
CUB   Cuba
CUW   Curacao
CYM   Cayman Islands
CYP   Cyprus
CZE   Czechia
DEA   East Asia & Pacific (IDA-eligible countries)
DEC   Europe & Central Asia (IDA-eligible countries)
DEU   Germany
DJI   Djibouti
DLA   Latin America & the Caribbean (IDA-eligible countries)
DMA   Dominica
DMN   Middle East & North Africa (IDA-eligible countries)
DNK   Denmark
DNS   IDA countries in Sub-Saharan Africa not classified as fragile situations
DOM   Dominican Republic
DSA   South Asia (IDA-eligible countries)
DSF   IDA countries in Sub-Saharan Africa classified as fragile situations
DSS   Sub-Saharan Africa (IDA-eligible countries)
DZA   Algeria
EAP   East Asia & Pacific (excluding high income)
EAR   Early-demographic dividend
EAS   East Asia & Pacific
ECA   Europe & Central Asia (excluding high income)
ECS   Europe & Central Asia
ECU   Ecuador
EGY   Egypt, Arab Rep.
EMU   Euro area
ERI   Eritrea
ESP   Spain
EST   Estonia
ETH   Ethiopia
EUU   European Union
FCS   Fragile and conflict affected situations
FIN   Finland
FJI   Fiji
FRA   France
FRO   Faroe Islands
FSM   Micronesia, Fed. Sts.
FXS   IDA countries classified as fragile situations, excluding Sub-Saharan Africa
GAB   Gabon
GBR   United Kingdom
GEO   Georgia
GHA   Ghana
GIB   Gibraltar
GIN   Guinea
GMB   Gambia, The
GNB   Guinea-Bissau
GNQ   Equatorial Guinea
GRC   Greece
GRD   Grenada
GRL   Greenland
GTM   Guatemala
GUM   Guam
GUY   Guyana
HIC   High income
HKG   Hong Kong SAR, China
HND   Honduras
HPC   Heavily indebted poor countries (HIPC)
HRV   Croatia
HTI   Haiti
HUN   Hungary
IBB   IBRD, including blend
IBD   IBRD only
IBT   IDA & IBRD total
IDA   IDA total
IDB   IDA blend
IDN   Indonesia
IDX   IDA only
IMN   Isle of Man
IND   India
INX   Not classified
IRL   Ireland
IRN   Iran, Islamic Rep.
IRQ   Iraq
ISL   Iceland
ISR   Israel
ITA   Italy
JAM   Jamaica
JOR   Jordan
JPN   Japan
KAZ   Kazakhstan
KEN   Kenya
KGZ   Kyrgyz Republic
KHM   Cambodia
KIR   Kiribati
KNA   St. Kitts and Nevis
KOR   Korea, Rep.
KWT   Kuwait
LAC   Latin America & Caribbean (excluding high income)
LAO   Lao PDR
LBN   Lebanon
LBR   Liberia
LBY   Libya
LCA   St. Lucia
LCN   Latin America & Caribbean
LDC   Least developed countries: UN classification
LIC   Low income
LIE   Liechtenstein
LKA   Sri Lanka
LMC   Lower middle income
LMY   Low & middle income
LSO   Lesotho
LTE   Late-demographic dividend
LTU   Lithuania
LUX   Luxembourg
LVA   Latvia
MAC   Macao SAR, China
MAF   St. Martin (French part)
MAR   Morocco
MCO   Monaco
MDA   Moldova
MDE   Middle East (developing only)
MDG   Madagascar
MDV   Maldives
MEA   Middle East & North Africa
MEX   Mexico
MHL   Marshall Islands
MIC   Middle income
MKD   North Macedonia
MLI   Mali
MLT   Malta
MMR   Myanmar
MNA   Middle East & North Africa (excluding high income)
MNE   Montenegro
MNG   Mongolia
MNP   Northern Mariana Islands
MOZ   Mozambique
MRT   Mauritania
MUS   Mauritius
MWI   Malawi
MYS   Malaysia
NAC   North America
NAF   North Africa
NAM   Namibia
NCL   New Caledonia
NER   Niger
NGA   Nigeria
NIC   Nicaragua
NLD   Netherlands
NOR   Norway
NPL   Nepal
NRS   Non-resource rich Sub-Saharan Africa countries
NRU   Nauru
NXS   IDA countries not classified as fragile situations, excluding Sub-Saharan Africa
NZL   New Zealand
OED   OECD members
OMN   Oman
OSS   Other small states
PAK   Pakistan
PAN   Panama
PER   Peru
PHL   Philippines
PLW   Palau
PNG   Papua New Guinea
POL   Poland
PRE   Pre-demographic dividend
PRI   Puerto Rico
PRK   Korea, Dem. People's Rep.
PRT   Portugal
PRY   Paraguay
PSE   West Bank and Gaza
PSS   Pacific island small states
PST   Post-demographic dividend
PYF   French Polynesia
QAT   Qatar
ROU   Romania
RRS   Resource rich Sub-Saharan Africa countries
RUS   Russian Federation
RWA   Rwanda
SAS   South Asia
SAU   Saudi Arabia
SDN   Sudan
SEN   Senegal
SGP   Singapore
SLB   Solomon Islands
SLE   Sierra Leone
SLV   El Salvador
SMR   San Marino
SOM   Somalia
SRB   Serbia
SSA   Sub-Saharan Africa (excluding high income)
SSD   South Sudan
SSF   Sub-Saharan Africa
SST   Small states
STP   Sao Tome and Principe
SUR   Suriname
SVK   Slovak Republic
SVN   Slovenia
SWE   Sweden
SWZ   Eswatini
SXM   Sint Maarten (Dutch part)
SXZ   Sub-Saharan Africa excluding South Africa
SYC   Seychelles
SYR   Syrian Arab Republic
TCA   Turks and Caicos Islands
TCD   Chad
TEA   East Asia & Pacific (IDA & IBRD countries)
TEC   Europe & Central Asia (IDA & IBRD countries)
TGO   Togo
THA   Thailand
TJK   Tajikistan
TKM   Turkmenistan
TLA   Latin America & the Caribbean (IDA & IBRD countries)
TLS   Timor-Leste
TMN   Middle East & North Africa (IDA & IBRD countries)
TON   Tonga
TSA   South Asia (IDA & IBRD)
TSS   Sub-Saharan Africa (IDA & IBRD countries)
TTO   Trinidad and Tobago
TUN   Tunisia
TUR   Turkiye
TUV   Tuvalu
TZA   Tanzania
UGA   Uganda
UKR   Ukraine
UMC   Upper middle income
URY   Uruguay
USA   United States
UZB   Uzbekistan
VCT   St. Vincent and the Grenadines
VEN   Venezuela, RB
VGB   British Virgin Islands
VIR   Virgin Islands (U.S.)
VNM   Viet Nam
VUT   Vanuatu
WLD   World
WSM   Samoa
XKX   Kosovo
XZN   Sub-Saharan Africa excluding South Africa and Nigeria
YEM   Yemen, Rep.
ZAF   South Africa
ZMB   Zambia
ZWE   Zimbabwe

In [73]:
wbdata.get_dataframe?

In [15]:
indicators = {
              "SM.POP.NETM": "Net Migration", 
              "SP.POP.TOTL": "Total Population"}

data = wbdata.get_dataframe(indicators)


def migration_cleaning(data1):
    
    # Make years ints instead of strings
    data1.reset_index(inplace=True)
    data1['date'] = data1['date'].astype(int)

    # index the table by country instead of year 
    data1.set_index(['country'],inplace=True)
    
    mig_table = data1[data1['Net Migration'] < 0] 
    #takes all negative values, we want migration AWAY
    
    mig_table['Net Migration'] = mig_table['Net Migration'].abs() 
    #takes absolute value to get magnitude rather than negative 
    
    mig_table['Migration per Capita'] = mig_table['Net Migration']/mig_table['Total Population'] 
    #creates new column, called 'Migration Per Capita'
    
    mig_table['Migration Rate (%)'] = mig_table['Migration per Capita']*100  
    #takes migration per capita and makes it a rate 
    
    mig_table = mig_table[mig_table['date'] > 2013]

    return mig_table





# Make years ints instead of strings
#data.reset_index(inplace=True)
#data['date'] = data['date'].astype(int)

# index the table by country instead of year 
#data.set_index(['date'],inplace=True)
#data

data

                                  Net Migration  Total Population
country                     date
Africa Eastern and Southern 2022            NaN       720859132.0
                            2021      -179444.0       702977106.0
                            2020       -48955.0       685112979.0
                            2019      -187410.0       667242986.0
                            2018      -366105.0       649757148.0
...                                         ...               ...
Zimbabwe                    1964       -10064.0         4310332.0
                            1963        -9369.0         4177931.0
                            1962        -8931.0         4049778.0
                            1961        -8582.0         3925952.0
                            1960        -8256.0         3806310.0

[16758 rows x 2 columns]

In [45]:
mig_data = migration_cleaning(data)
mig_data

,date,Net Migration,Total Population,Migration per Capita,Migration Rate (%)
country,,,,,
Africa Eastern and Southern,2021,179444.0,702977106.0,0.000255,0.025526
Africa Eastern and Southern,2020,48955.0,685112979.0,0.000071,0.007146
Africa Eastern and Southern,2019,187410.0,667242986.0,0.000281,0.028087
Africa Eastern and Southern,2018,366105.0,649757148.0,0.000563,0.056345
Africa Eastern and Southern,2017,343075.0,632746570.0,0.000542,0.054220
...,...,...,...,...,...
Zimbabwe,2018,59918.0,15052184.0,0.003981,0.398068
Zimbabwe,2017,59918.0,14751101.0,0.004062,0.406193
Zimbabwe,2016,59918.0,14452704.0,0.004146,0.414580
Zimbabwe,2015,59918.0,14154937.0,0.004233,0.423301
Zimbabwe,2014,59918.0,13855753.0,0.004324,0.432441

In [46]:
def setup_long(dataframe):
    unique_country_indices = dataframe.index.unique()

    if not unique_country_indices.empty:
        # Create an empty DataFrame with columns
        results = pd.DataFrame(columns=['Net Migration', 'Migration Rate (%)'])

        for country_index in unique_country_indices:
            country_data = dataframe.loc[country_index]
            mig_net_avg = country_data['Net Migration'].mean()
            mig_percap_avg = country_data['Migration Rate (%)'].mean()

            # Append the computed averages to the results DataFrame
            results.loc[country_index] = [mig_net_avg, mig_percap_avg]

        return results

In [69]:
avgs = setup_long(mig_data)
avgs
avgs = avgs.sort_values(by = ['Migration Rate (%)'], ascending = False)


#f.sort_values(['job','count'],ascending=False)

In [72]:
avgs.describe()
avgs1 = avgs[avgs['Migration Rate (%)'] > 0.5]
#avgs1.reset_index()
country_array = avgs1.index.tolist()
country_array

['Curacao',
 'Marshall Islands',
 'Qatar',
 'Syrian Arab Republic',
 'American Samoa',
 'Lebanon',
 'South Sudan',
 'Kuwait',
 'St. Martin (French part)',
 'Venezuela, RB',
 'Oman',
 'Tonga',
 'Saudi Arabia',
 'Kosovo',
 'Northern Mariana Islands',
 'Moldova',
 'Central African Republic',
 'Bahrain',
 'Guyana',
 'Samoa',
 'Puerto Rico',
 'Eritrea',
 'Fiji',
 'Micronesia, Fed. Sts.',
 'Tuvalu',
 'Bosnia and Herzegovina',
 'Guam',
 'St. Vincent and the Grenadines',
 'Armenia',
 'Pacific island small states',
 'Sao Tome and Principe',
 'South Africa',
 'Eswatini',
 'New Caledonia',
 'El Salvador',
 'Burundi',
 'Pakistan',
 'Kiribati',
 'Greenland',
 'Dominica',
 'Lithuania',
 'Nepal']

In [ ]:
def population(year=1966, sex='Male', age_range=(18,26), place='wrld'):
    print("Migration Rate", Migration Rate (%), "Total Population", SP.POP.TOTL)

In [102]:
indicators_new = {"SP.POP.TOTL": "Total Population",
                      "SP.POP.TOTL.FE.IN": "Population, female",
                      "SP.POP.TOTL.MA.IN": "Population, male",
                      "SP.POP.0004.FE": "Population ages 00-04, female",
                      "SP.POP.0004.MA": "Population ages 00-04, male",
                      "SP.POP.0014.FE.IN": "Population ages 0-14, female",
                      "SP.POP.0014.MA.IN": "Population ages 0-14, male",
                      "SP.POP.0014.TO": "Population ages 0-14, total",
                      "SP.POP.0509.FE": "Population ages 05-09, female",
                      "SP.POP.0509.MA": "Population ages 05-09, male",
                      "SP.POP.1014.FE": "Population ages 10-14, female",
                      "SP.POP.1014.MA": "Population ages 10-14, male",
                      "SP.POP.1519.FE": "Population ages 15-19, female",
                      "SP.POP.1519.MA": "Population ages 15-19, male",
                      "SP.POP.1564.FE.IN": "Population ages 15-64, female",
                      "SP.POP.1564.MA.IN": "Population ages 15-64, male",
                      "SP.POP.1564.TO": "Population ages 15-64, total",
                      "SP.POP.2024.FE": "Population ages 20-24, female",
                      "SP.POP.2024.MA": "Population ages 20-24, male",
                      "SP.POP.2529.FE": "Population ages 25-29, female",
                      "SP.POP.2529.MA": "Population ages 25-29, male",
                      "SP.POP.3034.FE": "Population ages 30-34, female",
                      "SP.POP.3034.MA": "Population ages 30-34, male",
                      "SP.POP.3539.FE": "Population ages 35-39, female",
                      "SP.POP.3539.MA": "Population ages 35-39, male",
                      "SP.POP.4044.FE": "Population ages 40-44, female",
                      "SP.POP.4044.MA": "Population ages 40-44, male",
                      "SP.POP.4549.FE": "Population ages 45-49, female",
                      "SP.POP.4549.MA": "Population ages 45-49, male",
                      "SP.POP.5054.FE": "Population ages 50-54, female",
                      "SP.POP.5054.MA": "Population ages 50-54, male",
                      "SP.POP.5559.FE": "Population ages 55-59, female",
                      "SP.POP.5559.MA": "Population ages 55-59, male",
                      "SP.POP.6064.FE": "Population ages 60-64, female",
                      "SP.POP.6064.MA": "Population ages 60-64, male",
                      "SP.POP.6569.FE": "Population ages 65-69, female",
                      "SP.POP.6569.MA": "Population ages 65-69, male",
                      "SP.POP.65UP.FE.IN": "Population ages 65 and above, female",
                      "SP.POP.65UP.MA.IN": "Population ages 65 and above, male",
                      "SP.POP.65UP.TO": "Population ages 65 and above, total",
                      "SP.POP.7074.FE": "Population ages 70-74, female",
                      "SP.POP.7074.MA": "Population ages 70-74, male",
                      "SP.POP.7579.FE": "Population ages 75-79, female",
                      "SP.POP.7579.MA": "Population ages 75-79, male",
                      "SP.POP.80UP.FE": "Population ages 80 and above, female",
                      "SP.POP.80UP.MA": "Population ages 80 and above, male", "SM.POP.NETM":"Net Migration", 
                      #"ER.H2O.FWST.ZS": "Fresh Water Stress (withdrawal prop. avail. resource)", 
                      "EN.LND.LTMP.DC": "Land Surface Temperature", 
                      "AG.PRD.FOOD.XD": "Food Production Index", 
                      "EN.POP.DNST": "Population per sq km", 
                      "SN.ITK.DEFC.ZS": "Prevalence of Undernourishment (% of Population)", 
                      "EG.ELC.COAL.ZS": "Electricity production from coal sources", "SM.POP.NETM": "Net Migration"}


indicators_reduced = wbdata.get_dataframe(indicators_new, country = 
    ['CUW', 'MHL', 'QAT', 'SYR', 'ASM', 'LBN', 'SSD', 'KWT', 'MAF', 'VEN', 
    'OMN', 'TON', 'SAU', 'XKX', 'MNP', 'MDA', 'CAF', 'BHR', 'GUY', 'WSM', 
    ])

indicators_reduced

                     Total Population  Population, female  Population, male  \
country        date
American Samoa 1960           20085.0              9771.0           10314.0
               1961           20626.0             10039.0           10587.0
               1962           21272.0             10363.0           10909.0
               1963           21949.0             10703.0           11246.0
               1964           22656.0             11059.0           11597.0
...                               ...                 ...               ...
Venezuela, RB  2019        28971683.0          14605811.0        14365872.0
               2020        28490453.0          14376694.0        14113760.0
               2021        28199867.0          14243056.0        13956811.0
               2022        28301696.0          14304904.0        13996791.0
               2023               NaN                 NaN               NaN

                     Population ages 00-04, female  \
country        date
American Samoa 1960                         1786.0
               1961                         1845.0
               1962                         1913.0
               1963                         1980.0
               1964                         2047.0
...                                            ...
Venezuela, RB  2019                      1278595.0
               2020                      1220751.0
               2021                      1165460.0
               2022                      1123338.0
               2023                            NaN

                     Population ages 00-04, male  \
country        date
American Samoa 1960                       1926.0
               1961                       1964.0
               1962                       2010.0
               1963                       2063.0
               1964                       2123.0
...                                          ...
Venezuela, RB  2019                    1351094.0
               2020                    1289841.0
               2021                    1230474.0
               2022                    1184101.0
               2023                          NaN

                     Population ages 0-14, female  Population ages 0-14, male  \
country        date
American Samoa 1960                        4675.0                      5159.0
               1961                        4792.0                      5223.0
               1962                        4932.0                      5315.0
               1963                        5085.0                      5431.0
               1964                        5252.0                      5568.0
...                                           ...                         ...
Venezuela, RB  2019                     4033895.0                   4253211.0
               2020                     3950208.0                   4165083.0
               2021                     3867069.0                   4077039.0
               2022                     3799320.0                   4004655.0
               2023                           NaN                         NaN

                     Population ages 0-14, total  \
country        date
American Samoa 1960                       9833.0
               1961                      10015.0
               1962                      10247.0
               1963                      10516.0
               1964                      10820.0
...                                          ...
Venezuela, RB  2019                    8287106.0
               2020                    8115290.0
               2021                    7944108.0
               2022                    7803975.0
               2023                          NaN

                     Population ages 05-09, female  \
country        date
American Samoa 1960                         1524.0
               1961                         1556.0
               1962                         1608.0
               1963                         1671.0
               1964                         1738.0
...                                            ...
Venezuela, RB  2019                      1369835.0
               2020                      1347426.0
               2021                      1324651.0
               2022                      1303372.0
               2023                            NaN

                     Population ages 05-09, male  ...  \
country        date                               ...
American Samoa 1960                       1689.0  ...
               1961                       1716.0  ...
               1962                       1752.0  ...
               1963                       1792.0  ...
               1964                       1835.0  ...
...                                          ...  ...
Venezuela, RB  2019                    1443416.0  ...
               2020                    1421696.0  ...
               2021                    1399043.0  ...
               2022                    1377580.0  ...
               2023                          NaN  ...

                     Population ages 75-79, female  \
country        date
American Samoa 1960                           43.0
               1961                           44.0
               1962                           47.0
               1963                           51.0
               1964                           57.0
...                                            ...
Venezuela, RB  2019                       239529.0
               2020                       247634.0
               2021                       255701.0
               2022                       264055.0
               2023                            NaN

                     Population ages 75-79, male  \
country        date
American Samoa 1960                         48.0
               1961                         47.0
               1962                         46.0
               1963                         43.0
               1964                         42.0
...                                          ...
Venezuela, RB  2019                     175103.0
               2020                     179496.0
               2021                     183427.0
               2022                     187619.0
               2023                          NaN

                     Population ages 80 and above, female  \
country        date
American Samoa 1960                                  38.0
               1961                                  38.0
               1962                                  40.0
               1963                                  41.0
               1964                                  41.0
...                                                   ...
Venezuela, RB  2019                              225442.0
               2020                              231980.0
               2021                              238636.0
               2022                              246144.0
               2023                                   NaN

                     Population ages 80 and above, male  Net Migration  \
country        date
American Samoa 1960                                34.0         -260.0
               1961                                35.0          -93.0
               1962                                35.0          -97.0
               1963                                37.0          -96.0
               1964                                40.0          -97.0
...                                                 ...            ...
Venezuela, RB  2019                            125525.0      -976460.0
               2020                            127622.0      -525142.0
               2021                            129781.0      -525116.0
               2022                            133827.0            NaN
               2023                                 NaN            NaN

                     Land Surface Temperature  Food Production Index  \
country        date
American Samoa 1960                       NaN                    NaN
               1961                       NaN                    NaN
               1962                       NaN                    NaN
               1963                       NaN                    NaN
               1964                       NaN                    NaN
...                                       ...                    ...
Venezuela, RB  2019                 28.936032                  82.12
               2020                 29.310840                  86.85
               2021                 28.187924                  85.78
               2022                       NaN                    NaN
               2023                       NaN                    NaN

                     Population per sq km  \
country        date
American Samoa 1960                   NaN
               1961            103.130000
               1962            106.360000
               1963            109.745000
               1964            113.280000
...                                   ...
Venezuela, RB  2019             32.845851
               2020             32.300270
               2021             31.970826
               2022                   NaN
               2023                   NaN

                     Prevalence of Undernourishment (% of Population)  \
country        date
American Samoa 1960                                               NaN
               1961                                               NaN
               1962                                               NaN
               1963                                               NaN
               1964                                               NaN
...                                                               ...
Venezuela, RB  2019                                              23.4
               2020                                              21.6
               2021                                              17.9
               2022                                               NaN
               2023                                               NaN

                     Electricity production from coal sources
country        date
American Samoa 1960                                       NaN
               1961                                       NaN
               1962                                       NaN
               1963                                       NaN
               1964                                       NaN
...                                                       ...
Venezuela, RB  2019                                       NaN
               2020                                       NaN
               2021                                       NaN
               2022                                       NaN
               2023                                       NaN

[1275 rows x 52 columns]

In [108]:
# OMG I THINK I GOT IT

mig_data_reduced = migration_cleaning(indicators_reduced)
mig_data_reduced

,date,Total Population,"Population, female","Population, male","Population ages 00-04, female","Population ages 00-04, male","Population ages 0-14, female","Population ages 0-14, male","Population ages 0-14, total","Population ages 05-09, female",...,"Population ages 80 and above, female","Population ages 80 and above, male",Net Migration,Land Surface Temperature,Food Production Index,Population per sq km,Prevalence of Undernourishment (% of Population),Electricity production from coal sources,Migration per Capita,Migration Rate (%)
country,,,,,,,,,,,,,,,,,,,,,
American Samoa,2014,52217.0,26017.0,26199.0,2730.0,2893.0,8070.0,8679.0,16750.0,2784.0,...,174.0,108.0,1602.0,NaN,NaN,261.085000,NaN,NaN,0.030680,3.067966
American Samoa,2015,51368.0,25629.0,25739.0,2602.0,2778.0,7789.0,8390.0,16180.0,2721.0,...,174.0,111.0,1629.0,NaN,NaN,256.840000,NaN,NaN,0.031712,3.171235
American Samoa,2016,50448.0,25208.0,25240.0,2494.0,2661.0,7504.0,8080.0,15585.0,2627.0,...,177.0,114.0,1641.0,NaN,NaN,252.240000,NaN,NaN,0.032529,3.252854
American Samoa,2017,49463.0,24762.0,24701.0,2384.0,2543.0,7215.0,7751.0,14966.0,2522.0,...,180.0,116.0,1652.0,NaN,NaN,247.315000,NaN,NaN,0.033399,3.339870
American Samoa,2018,48424.0,24290.0,24134.0,2272.0,2423.0,6920.0,7406.0,14326.0,2402.0,...,189.0,119.0,1652.0,NaN,NaN,242.120000,NaN,NaN,0.034115,3.411531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, RB",2017,30563433.0,15379664.0,15183770.0,1382366.0,1458034.0,4193709.0,4418025.0,8611734.0,1413102.0,...,216991.0,123710.0,817764.0,28.437719,88.83,34.650454,23.0,NaN,0.026756,2.675629
"Venezuela, RB",2018,29825653.0,15021517.0,14804135.0,1337619.0,1412330.0,4123672.0,4346047.0,8469719.0,1393871.0,...,220771.0,124378.0,1356759.0,28.626367,82.03,33.814016,22.7,NaN,0.045490,4.548967
"Venezuela, RB",2019,28971683.0,14605811.0,14365872.0,1278595.0,1351094.0,4033895.0,4253211.0,8287106.0,1369835.0,...,225442.0,125525.0,976460.0,28.936032,82.12,32.845851,23.4,NaN,0.033704,3.370394
"Venezuela, RB",2020,28490453.0,14376694.0,14113760.0,1220751.0,1289841.0,3950208.0,4165083.0,8115290.0,1347426.0,...,231980.0,127622.0,525142.0,29.310840,86.85,32.300270,21.6,NaN,0.018432,1.843221
"Venezuela, RB",2021,28199867.0,14243056.0,13956811.0,1165460.0,1230474.0,3867069.0,4077039.0,7944108.0,1324651.0,...,238636.0,129781.0,525116.0,28.187924,85.78,31.970826,17.9,NaN,0.018621,1.862122

In [109]:
# reduce this by collapsing all of the columns

mig_reduced_collapse_country = mig_data_reduced.groupby(by = 'country', as_index = True)
mig_reduced_collapse_country

In [107]:
mig_reduced_collapse_country