## Project 1: World Migration, Causes and Associations

###### Group Evelyn Kitagawa: Neha Lala, Jackie Schneider, Himalia Joshi, Monica Wilson, Lea Yamashiro

In [1]:
import wbdata
import pandas as pd

In [2]:
SOURCE=75
esg_indic = wbdata.get_indicator(source=SOURCE)
esg_indic

id                 name
-----------------  ---------------------------------------------------------------------------------------------------------
AG.LND.AGRI.ZS     Agricultural land (% of land area)
AG.LND.FRLS.HA     Tree Cover Loss (hectares)
AG.LND.FRST.ZS     Forest area (% of land area)
AG.PRD.FOOD.XD     Food production index (2014-2016 = 100)
CC.EST             Control of Corruption: Estimate
EG.CFT.ACCS.ZS     Access to clean fuels and technologies for cooking (% of population)
EG.EGY.PRIM.PP.KD  Energy intensity level of primary energy (MJ/$2017 PPP GDP)
EG.ELC.ACCS.ZS     Access to electricity (% of population)
EG.ELC.COAL.ZS     Electricity production from coal sources (% of total)
EG.ELC.RNEW.ZS     Renewable electricity output (% of total electricity output)
EG.FEC.RNEW.ZS     Renewable energy consumption (% of total final energy consumption)
EG.IMP.CONS.ZS     Energy imports, net (% of energy use)
EG.USE.COMM.FO.ZS  Fossil fuel energy consumption (% of total)
EG.USE.PCAP.KG.OE  Energy use (kg of oil equivalent per capita)
EN.ATM.CO2E.PC     CO2 emissions (metric tons per capita)
EN.ATM.METH.PC     Methane emissions (kt of CO2 equivalent per capita)
EN.ATM.NOXE.PC     Nitrous oxide emissions (metric tons of CO2 equivalent per capita)
EN.ATM.PM25.MC.M3  PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)
EN.CLC.CDDY.XD     Cooling Degree Days
EN.CLC.CSTP.ZS     Coastal protection
EN.CLC.GHGR.MT.CE  GHG net emissions/removals by LUCF (Mt of CO2 equivalent)
EN.CLC.HDDY.XD     Heating Degree Days
EN.CLC.HEAT.XD     Heat Index 35
EN.CLC.SPEI.XD     Standardised Precipitation-Evapotranspiration Index
EN.H2O.BDYS.ZS     Proportion of bodies of water with good ambient water quality
EN.LND.LTMP.DC     Land Surface Temperature
EN.MAM.THRD.NO     Mammal species, threatened
EN.POP.DNST        Population density (people per sq. km of land area)
ER.H2O.FWST.ZS     Level of water stress: freshwater withdrawal as a proportion of available freshwater resources
ER.H2O.FWTL.ZS     Annual freshwater withdrawals, total (% of internal resources)
ER.PTD.TOTL.ZS     Terrestrial and marine protected areas (% of total territorial area)
GB.XPD.RSDV.GD.ZS  Research and development expenditure (% of GDP)
GE.EST             Government Effectiveness: Estimate
IC.LGL.CRED.XQ     Strength of legal rights index (0=weak to 12=strong)
IP.JRN.ARTC.SC     Scientific and technical journal articles
IP.PAT.RESD        Patent applications, residents
IT.NET.USER.ZS     Individuals using the Internet (% of population)
NV.AGR.TOTL.ZS     Agriculture, forestry, and fishing, value added (% of GDP)
NY.ADJ.DFOR.GN.ZS  Adjusted savings: net forest depletion (% of GNI)
NY.ADJ.DRES.GN.ZS  Adjusted savings: natural resources depletion (% of GNI)
NY.GDP.MKTP.KD.ZG  GDP growth (annual %)
PV.EST             Political Stability and Absence of Violence/Terrorism: Estimate
RL.EST             Rule of Law: Estimate
RQ.EST             Regulatory Quality: Estimate
SD.ESR.PERF.XQ     Economic and Social Rights Performance Score
SE.ADT.LITR.ZS     Literacy rate, adult total (% of people ages 15 and above)
SE.ENR.PRSC.FM.ZS  School enrollment, primary and secondary (gross), gender parity index (GPI)
SE.PRM.ENRR        School enrollment, primary (% gross)
SE.XPD.TOTL.GB.ZS  Government expenditure on education, total (% of government expenditure)
SG.GEN.PARL.ZS     Proportion of seats held by women in national parliaments (%)
SH.DTH.COMM.ZS     Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)
SH.DYN.MORT        Mortality rate, under-5 (per 1,000 live births)
SH.H2O.SMDW.ZS     People using safely managed drinking water services (% of population)
SH.MED.BEDS.ZS     Hospital beds (per 1,000 people)
SH.STA.OWAD.ZS     Prevalence of overweight (% of adults)
SH.STA.SMSS.ZS     People using safely managed sanitation services (% of population)
SI.DST.FRST.20     Income share held by lowest 20%
SI.POV.GINI        Gini index
SI.POV.NAHC        Poverty headcount ratio at national poverty lines (% of population)
SI.SPR.PCAP.ZG     Annualized average growth rate in per capita real survey mean consumption or income, total population (%)
SL.TLF.0714.ZS     Children in employment, total (% of children ages 7-14)
SL.TLF.ACTI.ZS     Labor force participation rate, total (% of total population ages 15-64) (modeled ILO estimate)
SL.TLF.CACT.FM.ZS  Ratio of female to male labor force participation rate (%) (modeled ILO estimate)
SL.UEM.TOTL.ZS     Unemployment, total (% of total labor force) (modeled ILO estimate)
SM.POP.NETM        Net migration
SN.ITK.DEFC.ZS     Prevalence of undernourishment (% of population)
SP.DYN.LE00.IN     Life expectancy at birth, total (years)
SP.DYN.TFRT.IN     Fertility rate, total (births per woman)
SP.POP.65UP.TO.ZS  Population ages 65 and above (% of total population)
SP.UWT.TFRT        Unmet need for contraception (% of married women ages 15-49)
VA.EST             Voice and Accountability: Estimate

In [46]:
var_labels = {"SM.POP.NETM":"Net Migration",
              'SN.ITK.DEFC.ZS': "Prevalence of Undernourishment", 
              'IC.LGL.CRED.XQ': "Legal Rights Index",
              "ER.H2O.FWST.ZS": "Level of Water Stress",
             "SD.ESR.PERF.XQ": "Social and Economic Score",
             'EN.ATM.PM25.MC.M3': "PM2.5"}
world_migration = wbdata.get_dataframe(var_labels, country= "USA")
world_migration.sort_values("Net Migration", ascending = True).head()

,Net Migration,Prevalence of Undernourishment,Legal Rights Index,Level of Water Stress,Social and Economic Score,PM2.5
date,,,,,,
1966,337814.0,NaN,NaN,NaN,NaN,NaN
1967,377776.0,NaN,NaN,NaN,NaN,NaN
1965,497365.0,NaN,NaN,NaN,NaN,NaN
1964,501115.0,NaN,NaN,NaN,NaN,NaN
1968,502456.0,NaN,NaN,NaN,NaN,NaN

In [47]:
world_migration.sort_values("Net Migration", ascending = False)

,Net Migration,Prevalence of Undernourishment,Legal Rights Index,Level of Water Stress,Social and Economic Score,PM2.5
date,,,,,,
1997,1866819.0,NaN,NaN,29.851077,NaN,NaN
1992,1816509.0,NaN,NaN,29.581749,NaN,NaN
1994,1806698.0,NaN,NaN,29.689480,NaN,NaN
1998,1799996.0,NaN,NaN,29.904943,NaN,NaN
1996,1771618.0,NaN,NaN,29.797212,NaN,NaN
...,...,...,...,...,...,...
1965,497365.0,NaN,NaN,NaN,NaN,NaN
1967,377776.0,NaN,NaN,NaN,NaN,NaN
1966,337814.0,NaN,NaN,NaN,NaN,NaN
2022,NaN,NaN,NaN,NaN,NaN,NaN
2023,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
world_migration_na = world_migration.dropna()
world_migration_na

,Net Migration,Prevalence of Undernourishment,Legal Rights Index,Level of Water Stress,Social and Economic Score,PM2.5
date,,,,,,
2013,1320840.0,2.5,11.0,27.513160,2.319665,8.641629
2014,1250914.0,2.5,11.0,27.837572,2.319103,8.433002
2015,1221849.0,2.5,11.0,28.161984,2.340189,8.163753
2016,1449371.0,2.5,11.0,28.161984,2.334043,7.378939
2017,1377630.0,2.5,11.0,28.161984,2.335077,7.744685
2018,1200796.0,2.5,11.0,28.161984,2.340760,7.775115

In [54]:
avg_wrld_migration = world_migration_na["Net Migration"].mean()
avg_wrld_migration

1303566.6666666667