## Project 1: World Migration, Causes and Associations

###### Group Evelyn Kitagawa: Neha Lala, Jackie Schneider, Himalia Joshi, Monica Wilson, Lea Yamashiro, Kevin Dunn

In [60]:
%%capture
!pip install wbdata
import wbdata # IF NECESSARY
import cufflinks as cf
cf.go_offline()
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
# ARRAY OF COUNTRY CODES (top 20% migration rate) 
# do not change this 

migration_codes = ['CUW', 'MHL', 'QAT', 'SYR', 'ASM', 'LBN', 'SSD', 'KWT', 'MAF', 'VEN', 
    'OMN', 'TON', 'SAU', 'XKX', 'MNP', 'MDA', 'CAF', 'BHR', 'GUY', 'WSM', 
    'PRI', 'ERI', 'FJI', 'FSM', 'TUV', 'BIH', 'GUM', 'VCT', 'ARM', 'PSS', 
    'STP', 'ZAF', 'SWZ', 'NCL', 'SLV', 'BDI', 'PAK', 'KIR', 'GRL', 'DMA', 
    'LTU', 'NPL']

In [33]:
indicators_testers = {"SM.POP.NETM": "Net Migration", "SP.POP.TOTL": "Total Population"}



code_tests = wbdata.get_dataframe(indicators_testers, country = [
    'CUW', 'MHL', 'QAT', 'SYR', 'ASM', 'LBN', 'SSD', 'KWT', 'MAF', 'VEN', 
    'OMN', 'TON', 'SAU', 'XKX', 'MNP', 'MDA', 'CAF', 'BHR', 'GUY', 'WSM', 'PRI', 'ERI', 'FJI', 
    'FSM', 'TUV', 'BIH', 'GUM', 'VCT', 'ARM', 'PSS', 
    'STP', 'ZAF', 'SWZ', 'NCL', 'SLV', 'BDI', 'PAK', 'KIR', 'GRL', 'DMA', 
    'LTU', 'NPL'])

code_tests

                   Net Migration  Total Population
country      date
Armenia      2022            NaN         2780469.0
             2021       -12825.0         2790974.0
             2020       -12825.0         2805608.0
             2019       -25363.0         2820602.0
             2018       -25835.0         2836557.0
...                          ...               ...
South Africa 1964        74419.0        18603097.0
             1963        70976.0        18042215.0
             1962        68068.0        17503133.0
             1961        56098.0        16989464.0
             1960        18909.0        16520441.0

[2646 rows x 2 columns]

#### Cleaning Data

In [ ]:
SOURCE=75
#esg_indic = wbdata.get_indicator(source=SOURCE)
#print(country_array)

In [29]:
countries_total = wbdata.get_country()

#country_codes_for_mig = ['CUW', MHL]

countries_total

id    name
----  --------------------------------------------------------------------------------
ABW   Aruba
AFE   Africa Eastern and Southern
AFG   Afghanistan
AFR   Africa
AFW   Africa Western and Central
AGO   Angola
ALB   Albania
AND   Andorra
ARB   Arab World
ARE   United Arab Emirates
ARG   Argentina
ARM   Armenia
ASM   American Samoa
ATG   Antigua and Barbuda
AUS   Australia
AUT   Austria
AZE   Azerbaijan
BDI   Burundi
BEA   East Asia & Pacific (IBRD-only countries)
BEC   Europe & Central Asia (IBRD-only countries)
BEL   Belgium
BEN   Benin
BFA   Burkina Faso
BGD   Bangladesh
BGR   Bulgaria
BHI   IBRD countries classified as high income
BHR   Bahrain
BHS   Bahamas, The
BIH   Bosnia and Herzegovina
BLA   Latin America & the Caribbean (IBRD-only countries)
BLR   Belarus
BLZ   Belize
BMN   Middle East & North Africa (IBRD-only countries)
BMU   Bermuda
BOL   Bolivia
BRA   Brazil
BRB   Barbados
BRN   Brunei Darussalam
BSS   Sub-Saharan Africa (IBRD-only countries)
BTN   Bhutan
BWA   Botswana
CAA   Sub-Saharan Africa (IFC classification)
CAF   Central African Republic
CAN   Canada
CEA   East Asia and the Pacific (IFC classification)
CEB   Central Europe and the Baltics
CEU   Europe and Central Asia (IFC classification)
CHE   Switzerland
CHI   Channel Islands
CHL   Chile
CHN   China
CIV   Cote d'Ivoire
CLA   Latin America and the Caribbean (IFC classification)
CME   Middle East and North Africa (IFC classification)
CMR   Cameroon
COD   Congo, Dem. Rep.
COG   Congo, Rep.
COL   Colombia
COM   Comoros
CPV   Cabo Verde
CRI   Costa Rica
CSA   South Asia (IFC classification)
CSS   Caribbean small states
CUB   Cuba
CUW   Curacao
CYM   Cayman Islands
CYP   Cyprus
CZE   Czechia
DEA   East Asia & Pacific (IDA-eligible countries)
DEC   Europe & Central Asia (IDA-eligible countries)
DEU   Germany
DJI   Djibouti
DLA   Latin America & the Caribbean (IDA-eligible countries)
DMA   Dominica
DMN   Middle East & North Africa (IDA-eligible countries)
DNK   Denmark
DNS   IDA countries in Sub-Saharan Africa not classified as fragile situations
DOM   Dominican Republic
DSA   South Asia (IDA-eligible countries)
DSF   IDA countries in Sub-Saharan Africa classified as fragile situations
DSS   Sub-Saharan Africa (IDA-eligible countries)
DZA   Algeria
EAP   East Asia & Pacific (excluding high income)
EAR   Early-demographic dividend
EAS   East Asia & Pacific
ECA   Europe & Central Asia (excluding high income)
ECS   Europe & Central Asia
ECU   Ecuador
EGY   Egypt, Arab Rep.
EMU   Euro area
ERI   Eritrea
ESP   Spain
EST   Estonia
ETH   Ethiopia
EUU   European Union
FCS   Fragile and conflict affected situations
FIN   Finland
FJI   Fiji
FRA   France
FRO   Faroe Islands
FSM   Micronesia, Fed. Sts.
FXS   IDA countries classified as fragile situations, excluding Sub-Saharan Africa
GAB   Gabon
GBR   United Kingdom
GEO   Georgia
GHA   Ghana
GIB   Gibraltar
GIN   Guinea
GMB   Gambia, The
GNB   Guinea-Bissau
GNQ   Equatorial Guinea
GRC   Greece
GRD   Grenada
GRL   Greenland
GTM   Guatemala
GUM   Guam
GUY   Guyana
HIC   High income
HKG   Hong Kong SAR, China
HND   Honduras
HPC   Heavily indebted poor countries (HIPC)
HRV   Croatia
HTI   Haiti
HUN   Hungary
IBB   IBRD, including blend
IBD   IBRD only
IBT   IDA & IBRD total
IDA   IDA total
IDB   IDA blend
IDN   Indonesia
IDX   IDA only
IMN   Isle of Man
IND   India
INX   Not classified
IRL   Ireland
IRN   Iran, Islamic Rep.
IRQ   Iraq
ISL   Iceland
ISR   Israel
ITA   Italy
JAM   Jamaica
JOR   Jordan
JPN   Japan
KAZ   Kazakhstan
KEN   Kenya
KGZ   Kyrgyz Republic
KHM   Cambodia
KIR   Kiribati
KNA   St. Kitts and Nevis
KOR   Korea, Rep.
KWT   Kuwait
LAC   Latin America & Caribbean (excluding high income)
LAO   Lao PDR
LBN   Lebanon
LBR   Liberia
LBY   Libya
LCA   St. Lucia
LCN   Latin America & Caribbean
LDC   Least developed countries: UN classification
LIC   Low income
LIE   Liechtenstein
LKA   Sri Lanka
LMC   Lower middle income
LMY   Low & middle income
LSO   Lesotho
LTE   Late-demographic dividend
LTU   Lithuania
LUX   Luxembourg
LVA   Latvia
MAC   Macao SAR, China
MAF   St. Martin (French part)
MAR   Morocco
MCO   Monaco
MDA   Moldova
MDE   Middle East (developing only)
MDG   Madagascar
MDV   Maldives
MEA   Middle East & North Africa
MEX   Mexico
MHL   Marshall Islands
MIC   Middle income
MKD   North Macedonia
MLI   Mali
MLT   Malta
MMR   Myanmar
MNA   Middle East & North Africa (excluding high income)
MNE   Montenegro
MNG   Mongolia
MNP   Northern Mariana Islands
MOZ   Mozambique
MRT   Mauritania
MUS   Mauritius
MWI   Malawi
MYS   Malaysia
NAC   North America
NAF   North Africa
NAM   Namibia
NCL   New Caledonia
NER   Niger
NGA   Nigeria
NIC   Nicaragua
NLD   Netherlands
NOR   Norway
NPL   Nepal
NRS   Non-resource rich Sub-Saharan Africa countries
NRU   Nauru
NXS   IDA countries not classified as fragile situations, excluding Sub-Saharan Africa
NZL   New Zealand
OED   OECD members
OMN   Oman
OSS   Other small states
PAK   Pakistan
PAN   Panama
PER   Peru
PHL   Philippines
PLW   Palau
PNG   Papua New Guinea
POL   Poland
PRE   Pre-demographic dividend
PRI   Puerto Rico
PRK   Korea, Dem. People's Rep.
PRT   Portugal
PRY   Paraguay
PSE   West Bank and Gaza
PSS   Pacific island small states
PST   Post-demographic dividend
PYF   French Polynesia
QAT   Qatar
ROU   Romania
RRS   Resource rich Sub-Saharan Africa countries
RUS   Russian Federation
RWA   Rwanda
SAS   South Asia
SAU   Saudi Arabia
SDN   Sudan
SEN   Senegal
SGP   Singapore
SLB   Solomon Islands
SLE   Sierra Leone
SLV   El Salvador
SMR   San Marino
SOM   Somalia
SRB   Serbia
SSA   Sub-Saharan Africa (excluding high income)
SSD   South Sudan
SSF   Sub-Saharan Africa
SST   Small states
STP   Sao Tome and Principe
SUR   Suriname
SVK   Slovak Republic
SVN   Slovenia
SWE   Sweden
SWZ   Eswatini
SXM   Sint Maarten (Dutch part)
SXZ   Sub-Saharan Africa excluding South Africa
SYC   Seychelles
SYR   Syrian Arab Republic
TCA   Turks and Caicos Islands
TCD   Chad
TEA   East Asia & Pacific (IDA & IBRD countries)
TEC   Europe & Central Asia (IDA & IBRD countries)
TGO   Togo
THA   Thailand
TJK   Tajikistan
TKM   Turkmenistan
TLA   Latin America & the Caribbean (IDA & IBRD countries)
TLS   Timor-Leste
TMN   Middle East & North Africa (IDA & IBRD countries)
TON   Tonga
TSA   South Asia (IDA & IBRD)
TSS   Sub-Saharan Africa (IDA & IBRD countries)
TTO   Trinidad and Tobago
TUN   Tunisia
TUR   Turkiye
TUV   Tuvalu
TZA   Tanzania
UGA   Uganda
UKR   Ukraine
UMC   Upper middle income
URY   Uruguay
USA   United States
UZB   Uzbekistan
VCT   St. Vincent and the Grenadines
VEN   Venezuela, RB
VGB   British Virgin Islands
VIR   Virgin Islands (U.S.)
VNM   Viet Nam
VUT   Vanuatu
WLD   World
WSM   Samoa
XKX   Kosovo
XZN   Sub-Saharan Africa excluding South Africa and Nigeria
YEM   Yemen, Rep.
ZAF   South Africa
ZMB   Zambia
ZWE   Zimbabwe

In [ ]:
data.index

In [ ]:
wbdata.get_dataframe?

In [4]:
indicators = {"SM.POP.NETM": "Net Migration", "SP.POP.TOTL": "Total Population"}

data = wbdata.get_dataframe(indicators)


def migration_cleaning(data1):
    
    # Make years ints instead of strings
    data1.reset_index(inplace=True)
    data1['date'] = data1['date'].astype(int)

    # index the table by country instead of year 
    data1.set_index(['country'],inplace=True)
    
    mig_table = data1[data1['Net Migration'] < 0] 
    #takes all negative values, we want migration AWAY
    
    mig_table['Net Migration'] = mig_table['Net Migration'].abs() 
    #takes absolute value to get magnitude rather than negative 
    
    mig_table['Migration per Capita'] = mig_table['Net Migration']/mig_table['Total Population'] 
    #creates new column, called 'Migration Per Capita'
    
    mig_table['Migration Rate (%)'] = mig_table['Migration per Capita']*100  
    #takes migration per capita and makes it a rate 
    
    mig_table = mig_table[mig_table['date'] > 2013]

    return mig_table





# Make years ints instead of strings
#data.reset_index(inplace=True)
#data['date'] = data['date'].astype(int)

# index the table by country instead of year 
#data.set_index(['date'],inplace=True)
#data

data

                                  Net Migration  Total Population
country                     date
Africa Eastern and Southern 2022            NaN       720859132.0
                            2021      -179444.0       702977106.0
                            2020       -48955.0       685112979.0
                            2019      -187410.0       667242986.0
                            2018      -366105.0       649757148.0
...                                         ...               ...
Zimbabwe                    1964       -10064.0         4310332.0
                            1963        -9369.0         4177931.0
                            1962        -8931.0         4049778.0
                            1961        -8582.0         3925952.0
                            1960        -8256.0         3806310.0

[16758 rows x 2 columns]

In [5]:
mig_data = migration_cleaning(data)
mig_data

,date,Net Migration,Total Population,Migration per Capita,Migration Rate (%)
country,,,,,
Africa Eastern and Southern,2021,179444.0,702977106.0,0.000255,0.025526
Africa Eastern and Southern,2020,48955.0,685112979.0,0.000071,0.007146
Africa Eastern and Southern,2019,187410.0,667242986.0,0.000281,0.028087
Africa Eastern and Southern,2018,366105.0,649757148.0,0.000563,0.056345
Africa Eastern and Southern,2017,343075.0,632746570.0,0.000542,0.054220
...,...,...,...,...,...
Zimbabwe,2018,59918.0,15052184.0,0.003981,0.398068
Zimbabwe,2017,59918.0,14751101.0,0.004062,0.406193
Zimbabwe,2016,59918.0,14452704.0,0.004146,0.414580
Zimbabwe,2015,59918.0,14154937.0,0.004233,0.423301
Zimbabwe,2014,59918.0,13855753.0,0.004324,0.432441

In [6]:
def setup_long(dataframe):
    unique_country_indices = dataframe.index.unique()

    if not unique_country_indices.empty:
        # Create an empty DataFrame with columns
        results = pd.DataFrame(columns=['Net Migration', 'Migration Rate (%)'])

        for country_index in unique_country_indices:
            country_data = dataframe.loc[country_index]
            mig_net_avg = country_data['Net Migration'].mean()
            mig_percap_avg = country_data['Migration Rate (%)'].mean()

            # Append the computed averages to the results DataFrame
            results.loc[country_index] = [mig_net_avg, mig_percap_avg]

        return results

In [9]:
avgs = setup_long(mig_data)
avgs
avgs = avgs.sort_values(by = ['Migration Rate (%)'], ascending = False)
avgs

#f.sort_values(['job','count'],ascending=False)

                           Net Migration  Migration Rate (%)
Curacao                      9592.000000            6.092441
Marshall Islands             1901.000000            4.107915
Qatar                       97400.000000            3.543467
Syrian Arab Republic       678143.500000            3.455758
American Samoa               1638.500000            3.365898
...                                  ...                 ...
Late-demographic dividend  128646.000000            0.005552
Ethiopia                     6097.000000            0.005311
Viet Nam                     3503.875000            0.003739
Madagascar                    990.333333            0.003532
Czechia                       300.000000            0.002839

[193 rows x 2 columns]

In [57]:
avgs.describe()
avgs1 = avgs[avgs['Migration Rate (%)'] > 0.5]
avgs1.reset_index()
country_array = avgs1.index.tolist()
country_array

['Curacao',
 'Marshall Islands',
 'Qatar',
 'Syrian Arab Republic',
 'American Samoa',
 'Lebanon',
 'South Sudan',
 'Kuwait',
 'St. Martin (French part)',
 'Venezuela, RB',
 'Oman',
 'Tonga',
 'Saudi Arabia',
 'Kosovo',
 'Northern Mariana Islands',
 'Moldova',
 'Central African Republic',
 'Bahrain',
 'Guyana',
 'Samoa',
 'Puerto Rico',
 'Eritrea',
 'Fiji',
 'Micronesia, Fed. Sts.',
 'Tuvalu',
 'Bosnia and Herzegovina',
 'Guam',
 'St. Vincent and the Grenadines',
 'Armenia',
 'Pacific island small states',
 'Sao Tome and Principe',
 'South Africa',
 'Eswatini',
 'New Caledonia',
 'El Salvador',
 'Burundi',
 'Pakistan',
 'Kiribati',
 'Greenland',
 'Dominica',
 'Lithuania',
 'Nepal']

In [ ]:
def population(year=1966, sex='Male', age_range=(18,26), place='wrld'):
    print("Migration Rate", Migration Rate (%), "Total Population", SP.POP.TOTL)

## Title 
#### Size 

blah blah

$\Delta_7$

SyntaxError: unterminated string literal (detected at line 2) (1883731991.py, line 2)

In [83]:
indicators_new = {"SP.POP.TOTL": "Total Population", 
                  # first, pop stats
                      "SP.POP.TOTL.FE.IN": "Population, female",
                      "SP.POP.TOTL.MA.IN": "Population, male",
                      "SP.POP.0004.FE": "Population ages 00-04, female",
                      "SP.POP.0004.MA": "Population ages 00-04, male",
                      "SP.POP.0014.FE.IN": "Population ages 0-14, female",
                      "SP.POP.0014.MA.IN": "Population ages 0-14, male",
                      "SP.POP.0014.TO": "Population ages 0-14, total",
                      "SP.POP.0509.FE": "Population ages 05-09, female",
                      "SP.POP.0509.MA": "Population ages 05-09, male",
                      "SP.POP.1014.FE": "Population ages 10-14, female",
                      "SP.POP.1014.MA": "Population ages 10-14, male",
                      "SP.POP.1519.FE": "Population ages 15-19, female",
                      "SP.POP.1519.MA": "Population ages 15-19, male",
                      "SP.POP.1564.FE.IN": "Population ages 15-64, female",
                      "SP.POP.1564.MA.IN": "Population ages 15-64, male",
                      "SP.POP.1564.TO": "Population ages 15-64, total",
                      "SP.POP.2024.FE": "Population ages 20-24, female",
                      "SP.POP.2024.MA": "Population ages 20-24, male",
                      "SP.POP.2529.FE": "Population ages 25-29, female",
                      "SP.POP.2529.MA": "Population ages 25-29, male",
                      "SP.POP.3034.FE": "Population ages 30-34, female",
                      "SP.POP.3034.MA": "Population ages 30-34, male",
                      "SP.POP.3539.FE": "Population ages 35-39, female",
                      "SP.POP.3539.MA": "Population ages 35-39, male",
                      "SP.POP.4044.FE": "Population ages 40-44, female",
                      "SP.POP.4044.MA": "Population ages 40-44, male",
                      "SP.POP.4549.FE": "Population ages 45-49, female",
                      "SP.POP.4549.MA": "Population ages 45-49, male",
                      "SP.POP.5054.FE": "Population ages 50-54, female",
                      "SP.POP.5054.MA": "Population ages 50-54, male",
                      "SP.POP.5559.FE": "Population ages 55-59, female",
                      "SP.POP.5559.MA": "Population ages 55-59, male",
                      "SP.POP.6064.FE": "Population ages 60-64, female",
                      "SP.POP.6064.MA": "Population ages 60-64, male",
                      "SP.POP.6569.FE": "Population ages 65-69, female",
                      "SP.POP.6569.MA": "Population ages 65-69, male",
                      "SP.POP.65UP.FE.IN": "Population ages 65 and above, female",
                      "SP.POP.65UP.MA.IN": "Population ages 65 and above, male",
                      "SP.POP.65UP.TO": "Population ages 65 and above, total",
                      "SP.POP.7074.FE": "Population ages 70-74, female",
                      "SP.POP.7074.MA": "Population ages 70-74, male",
                      "SP.POP.7579.FE": "Population ages 75-79, female",
                      "SP.POP.7579.MA": "Population ages 75-79, male",
                      "SP.POP.80UP.FE": "Population ages 80 and above, female",
                      "SP.POP.80UP.MA": "Population ages 80 and above, male", 
                  
                  # some environmental variables
                      "AG.PRD.FOOD.XD": "Food Production Index",
                      "EN.POP.DNST": "Population per sq km", 
                      "SN.ITK.DEFC.ZS": "Prevalence of Undernourishment (% of Population)", 
                      "EG.ELC.COAL.ZS": "Electricity production from coal sources", 
                      "SM.POP.NETM": "Net Migration",
                  "EN.H2O.BDYS.ZS": "Proportion of bodies of water with good ambient water quality", 
                  "ER.H2O.FWTL.ZS": "Annual freshwater withdrawals, total (% of internal resources)",
                  "SH.H2O.SMDW.ZS": "People using safely managed drinking water services (% of population)", 
                  "SH.STA.SMSS.ZS": "People using safely managed sanitation services (% of population)", 
                  "SH.MED.BEDS.ZS": "Hospital beds (per 1,000 people)",  
                  "SE.XPD.TOTL.GB.ZS": "Government Expenditure on Education (% of Total Expenditure)", 
                  
                  # some political variables
                      "PV.EST": "Political Stability and Absence of Violence/Terrorism (estimate)", 
                      "IC.LGL.CRED.XQ": "Strength of Legal Rights Index (0-12 Scale)", 
                    "EG.ELC.ACCS.ZS": "Access to electricity (% of population)", 
                    "GE.EST": "Government Effectiveness Estimate", 
                    "CC.EST": "Control of Corruption: Estimate", 
                    "SI.DST.FRST.20": "Income Share Held by Lowest 20%", 
                  "SD.ESR.PERF.XQ": "Economic and Social Rights Performance Score",
                  "RL.EST": "Rule of Law: Estimate",  
                  
                  # more scientific environmental variables
                  "EN.LND.LTMP.DC": "Land Surface Temperature",
                  "EN.ATM.PM25.MC.M3": "PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)", 
                  "EN.CLC.CDDY.XD": "Cooling Degree Days", 
                  "EN.CLC.HEAT.XD": "Heat Index 35"}

# these do not work                
#"EN.ATM.CO2E.PCCO2": "emissions (metric tons per capita)", 
#"EN.ATM.METH.PC": "Methane emissions (kt of CO2 equivalent per capita)",
#"EN.ATM.NOXE.PC": "Nitrous oxide emissions (metric tons of CO2 equivalent per capita)",
                  



indicators_reduced = wbdata.get_dataframe(indicators_new, country = [
    'CUW', 'MHL', 'QAT', 'SYR', 'ASM', 'LBN', 'SSD', 'KWT', 'MAF', 'VEN', 
    'OMN', 'TON', 'SAU', 'XKX', 'MNP', 'MDA', 'CAF', 'BHR', 'GUY', 'WSM', 
    'PRI', 'ERI', 'FJI', 'FSM', 'TUV', 'BIH', 'GUM', 'VCT', 'ARM', 'PSS', 
    'STP', 'ZAF', 'SWZ', 'NCL', 'SLV', 'BDI', 'PAK', 'KIR', 'GRL', 'DMA', 
    'LTU', 'NPL'])

indicators_reduced

                     Total Population  Population, female  Population, male  \
country        date
American Samoa 1960           20085.0              9771.0           10314.0
               1961           20626.0             10039.0           10587.0
               1962           21272.0             10363.0           10909.0
               1963           21949.0             10703.0           11246.0
               1964           22656.0             11059.0           11597.0
...                               ...                 ...               ...
Venezuela, RB  2019        28971683.0          14605811.0        14365872.0
               2020        28490453.0          14376694.0        14113760.0
               2021        28199867.0          14243056.0        13956811.0
               2022        28301696.0          14304904.0        13996791.0
               2023               NaN                 NaN               NaN

                     Population ages 00-04, female  \
country        date
American Samoa 1960                         1786.0
               1961                         1845.0
               1962                         1913.0
               1963                         1980.0
               1964                         2047.0
...                                            ...
Venezuela, RB  2019                      1278595.0
               2020                      1220751.0
               2021                      1165460.0
               2022                      1123338.0
               2023                            NaN

                     Population ages 00-04, male  \
country        date
American Samoa 1960                       1926.0
               1961                       1964.0
               1962                       2010.0
               1963                       2063.0
               1964                       2123.0
...                                          ...
Venezuela, RB  2019                    1351094.0
               2020                    1289841.0
               2021                    1230474.0
               2022                    1184101.0
               2023                          NaN

                     Population ages 0-14, female  Population ages 0-14, male  \
country        date
American Samoa 1960                        4675.0                      5159.0
               1961                        4792.0                      5223.0
               1962                        4932.0                      5315.0
               1963                        5085.0                      5431.0
               1964                        5252.0                      5568.0
...                                           ...                         ...
Venezuela, RB  2019                     4033895.0                   4253211.0
               2020                     3950208.0                   4165083.0
               2021                     3867069.0                   4077039.0
               2022                     3799320.0                   4004655.0
               2023                           NaN                         NaN

                     Population ages 0-14, total  \
country        date
American Samoa 1960                       9833.0
               1961                      10015.0
               1962                      10247.0
               1963                      10516.0
               1964                      10820.0
...                                          ...
Venezuela, RB  2019                    8287106.0
               2020                    8115290.0
               2021                    7944108.0
               2022                    7803975.0
               2023                          NaN

                     Population ages 05-09, female  \
country        date
American Samoa 1960                         1524.0
               1961                         1556.0
               1962                         1608.0
               1963                         1671.0
               1964                         1738.0
...                                            ...
Venezuela, RB  2019                      1369835.0
               2020                      1347426.0
               2021                      1324651.0
               2022                      1303372.0
               2023                            NaN

                     Population ages 05-09, male  ...  \
country        date                               ...
American Samoa 1960                       1689.0  ...
               1961                       1716.0  ...
               1962                       1752.0  ...
               1963                       1792.0  ...
               1964                       1835.0  ...
...                                          ...  ...
Venezuela, RB  2019                    1443416.0  ...
               2020                    1421696.0  ...
               2021                    1399043.0  ...
               2022                    1377580.0  ...
               2023                          NaN  ...

                     Access to electricity (% of population)  \
country        date
American Samoa 1960                                      NaN
               1961                                      NaN
               1962                                      NaN
               1963                                      NaN
               1964                                      NaN
...                                                      ...
Venezuela, RB  2019                                99.844780
               2020                                99.916321
               2021                                99.987717
               2022                                      NaN
               2023                                      NaN

                     Government Effectiveness Estimate  \
country        date
American Samoa 1960                                NaN
               1961                                NaN
               1962                                NaN
               1963                                NaN
               1964                                NaN
...                                                ...
Venezuela, RB  2019                          -1.722347
               2020                          -1.889065
               2021                          -1.874472
               2022                          -1.688181
               2023                                NaN

                     Control of Corruption: Estimate  \
country        date
American Samoa 1960                              NaN
               1961                              NaN
               1962                              NaN
               1963                              NaN
               1964                              NaN
...                                              ...
Venezuela, RB  2019                        -1.527599
               2020                        -1.576018
               2021                        -1.622492
               2022                        -1.651137
               2023                              NaN

                     Income Share Held by Lowest 20%  \
country        date
American Samoa 1960                              NaN
               1961                              NaN
               1962                              NaN
               1963                              NaN
               1964                              NaN
...                                              ...
Venezuela, RB  2019                              NaN
               2020                              NaN
               2021                              NaN
               2022                              NaN
               2023                              NaN

                     Economic and Social Rights Performance Score  \
country        date
American Samoa 1960                                           NaN
               1961                                           NaN
               1962                                           NaN
               1963                                           NaN
               1964                                           NaN
...                                                           ...
Venezuela, RB  2019                                           NaN
               2020                                           NaN
               2021                                           NaN
               2022                                           NaN
               2023                                           NaN

                     Rule of Law: Estimate  Land Surface Temperature  \
country        date
American Samoa 1960                    NaN                       NaN
               1961                    NaN                       NaN
               1962                    NaN                       NaN
               1963                    NaN                       NaN
               1964                    NaN                       NaN
...                                    ...                       ...
Venezuela, RB  2019              -2.259727                 28.936032
               2020              -2.333315                 29.310840
               2021              -2.299958                 28.187924
               2022              -2.197214                       NaN
               2023                    NaN                       NaN

                     PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)  \
country        date
American Samoa 1960                                                NaN
               1961                                                NaN
               1962                                                NaN
               1963                                                NaN
               1964                                                NaN
...                                                                ...
Venezuela, RB  2019                                          21.746989
               2020                                                NaN
               2021                                                NaN
               2022                                                NaN
               2023                                                NaN

                     Cooling Degree Days  Heat Index 35
country        date
American Samoa 1960                  NaN            NaN
               1961                  NaN            NaN
               1962                  NaN            NaN
               1963                  NaN            NaN
               1964                  NaN            NaN
...                                  ...            ...
Venezuela, RB  2019              4928.84           1.81
               2020              5052.22           3.52
               2021                  NaN            NaN
               2022                  NaN            NaN
               2023                  NaN            NaN

[2679 rows x 69 columns]

In [ ]:
%debug

In [90]:
# OMG I THINK I GOT IT

mig_data_reduced = migration_cleaning(indicators_reduced)
#mig_data_reduced.set_index([['country'], ['date']], inplace = True)
mig_data_reduced

,date,Total Population,"Population, female","Population, male","Population ages 00-04, female","Population ages 00-04, male","Population ages 0-14, female","Population ages 0-14, male","Population ages 0-14, total","Population ages 05-09, female",...,Control of Corruption: Estimate,Income Share Held by Lowest 20%,Economic and Social Rights Performance Score,Rule of Law: Estimate,Land Surface Temperature,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Cooling Degree Days,Heat Index 35,Migration per Capita,Migration Rate (%)
country,,,,,,,,,,,,,,,,,,,,,
American Samoa,2014,52217.0,26017.0,26199.0,2730.0,2893.0,8070.0,8679.0,16750.0,2784.0,...,1.220709,NaN,NaN,1.407080,NaN,5.977969,NaN,NaN,0.030680,3.067966
American Samoa,2015,51368.0,25629.0,25739.0,2602.0,2778.0,7789.0,8390.0,16180.0,2721.0,...,1.151811,NaN,NaN,1.285363,NaN,6.029517,NaN,NaN,0.031712,3.171235
American Samoa,2016,50448.0,25208.0,25240.0,2494.0,2661.0,7504.0,8080.0,15585.0,2627.0,...,1.159556,NaN,NaN,1.279536,NaN,6.543290,NaN,NaN,0.032529,3.252854
American Samoa,2017,49463.0,24762.0,24701.0,2384.0,2543.0,7215.0,7751.0,14966.0,2522.0,...,1.762151,NaN,NaN,1.294769,NaN,6.339296,NaN,NaN,0.033399,3.339870
American Samoa,2018,48424.0,24290.0,24134.0,2272.0,2423.0,6920.0,7406.0,14326.0,2402.0,...,1.780910,NaN,NaN,1.296713,NaN,6.359077,NaN,NaN,0.034115,3.411531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, RB",2017,30563433.0,15379664.0,15183770.0,1382366.0,1458034.0,4193709.0,4418025.0,8611734.0,1413102.0,...,-1.384974,NaN,NaN,-2.258756,28.437719,21.456125,4765.36,1.03,0.026756,2.675629
"Venezuela, RB",2018,29825653.0,15021517.0,14804135.0,1337619.0,1412330.0,4123672.0,4346047.0,8469719.0,1393871.0,...,-1.512038,NaN,NaN,-2.265742,28.626367,21.672558,4783.07,1.12,0.045490,4.548967
"Venezuela, RB",2019,28971683.0,14605811.0,14365872.0,1278595.0,1351094.0,4033895.0,4253211.0,8287106.0,1369835.0,...,-1.527599,NaN,NaN,-2.259727,28.936032,21.746989,4928.84,1.81,0.033704,3.370394
"Venezuela, RB",2020,28490453.0,14376694.0,14113760.0,1220751.0,1289841.0,3950208.0,4165083.0,8115290.0,1347426.0,...,-1.576018,NaN,NaN,-2.333315,29.310840,NaN,5052.22,3.52,0.018432,1.843221
"Venezuela, RB",2021,28199867.0,14243056.0,13956811.0,1165460.0,1230474.0,3867069.0,4077039.0,7944108.0,1324651.0,...,-1.622492,NaN,NaN,-2.299958,28.187924,NaN,NaN,NaN,0.018621,1.862122

In [ ]:
# reduce this by collapsing all of the columns

In [ ]:
# to add! 
                      "SE.XPD.TOTL.GB.ZS": "Government Expenditure on Education (% of Total Expenditure)", 
                      "PV.EST": "Political Stability and Absence of Violence/Terrorism (estimate)", 
                      "IC.LGL.CRED.XQ": "Strength of Legal Rights Index (0-12 Scale)", 
                    "EG.ELC.ACCS.ZS": "Access to electricity (% of population)", 
                    "GE.EST": "Government Effectiveness Estimate", 
                    "CC.EST": "Control of Corruption: Estimate", 
                    "GB.XPD.RSDV.GD.ZS": "Research and development expenditure (% of GDP)", 
                    "SI.DST.FRST.20": "Income Share Held by Lowest 20%"

In [ ]:
Assert population(year=1966, sex='Male', age_range=(18,26), place='wrld'):
    print("Migration Rate", Migration Rate (%), "Total Population", SP.POP.TOTL

In [58]:
# THIS ONE takes in a country code, and just prints the one


def population(year, sex, age_low, age_high, country_code):
    """Function that takes in a SEX ("Male", "Female"), ... , COUNTRY=, .. 
    and returns a statistic for the given function arguments"""
    if sex == "Male":
        column_names = {"SP.POP." + str(age_low)+str(age_high) + ".MA": sex}
    elif sex == "Female":
        column_names = {"SP.POP." + str(age_low)+str(age_high) + ".FE": sex}
    
    pop_stats = wbdata.get_dataframe(column_names, country = country_code)
    
    #pop_stats.reset_index(inplace=False)
    #pop_stats.set_index(['country'], inplace = True)
    pop_stats = pop_stats.filter(like=str(year), axis=0)

    return pop_stats[sex]



# index the table by country instead of year 
#data1.set_index(['country'],inplace=True)

In [59]:
population(2015, "Female", 20, 24, 'DMA')

date
2015    3266.0
Name: Female, dtype: float64

In [50]:
# this one prints the population stats for an entire list of all of the countries we're interested in!

def population_stat_multi(year, sex, age_low, age_high):
    """Function that takes in a SEX ("Male", "Female"), ... , COUNTRY=, .. 
    and returns a statistic for the given function arguments"""
    if sex == "Male":
        column_names = {"SP.POP." + str(age_low)+str(age_high) + ".MA": sex}
    elif sex == "Female":
        column_names = {"SP.POP." + str(age_low)+str(age_high) + ".FE": sex}
    
    pop_stats = wbdata.get_dataframe(column_names, country = ['CUW', 'MHL', 
    'QAT', 'SYR', 'ASM', 'LBN', 'SSD', 'KWT', 'MAF', 'VEN', 
    'OMN', 'TON', 'SAU', 'XKX', 'MNP', 'MDA', 'CAF', 'BHR', 'GUY', 'WSM', 
    'PRI', 'ERI', 'FJI', 'FSM', 'TUV', 'BIH', 'GUM', 'VCT', 'ARM', 'PSS', 
    'STP', 'ZAF', 'SWZ', 'NCL', 'SLV', 'BDI', 'PAK', 'KIR', 'GRL', 'DMA', 
    'LTU', 'NPL'])
    
    #pop_stats.reset_index(inplace=False)
    #pop_stats.set_index(['country'], inplace = True)
    pop_stats = pop_stats.filter(like=str(year), axis=0)

    return pop_stats[sex]



# index the table by country instead of year 
#data1.set_index(['country'],inplace=True)

In [51]:
poptest = population(2015, 'Female', 20, 24, 'Armenia')

KeyError: "None of ['country'] are in the columns"

In [21]:
poptest.index

MultiIndex([(                       'Armenia', '2015'),
            (                'American Samoa', '2015'),
            (                       'Burundi', '2015'),
            (                       'Bahrain', '2015'),
            (        'Bosnia and Herzegovina', '2015'),
            (      'Central African Republic', '2015'),
            (                       'Curacao', '2015'),
            (                      'Dominica', '2015'),
            (                       'Eritrea', '2015'),
            (                          'Fiji', '2015'),
            (         'Micronesia, Fed. Sts.', '2015'),
            (                     'Greenland', '2015'),
            (                          'Guam', '2015'),
            (                        'Guyana', '2015'),
            (                      'Kiribati', '2015'),
            (                        'Kuwait', '2015'),
            (                       'Lebanon', '2015'),
            (                     'Lithuania', '2015'),
            (      'St. Martin (French part)', '2015'),
            (                       'Moldova', '2015'),
            (              'Marshall Islands', '2015'),
            (      'Northern Mariana Islands', '2015'),
            (                 'New Caledonia', '2015'),
            (                         'Nepal', '2015'),
            (                          'Oman', '2015'),
            (                      'Pakistan', '2015'),
            (                   'Puerto Rico', '2015'),
            (   'Pacific island small states', '2015'),
            (                         'Qatar', '2015'),
            (                  'Saudi Arabia', '2015'),
            (                   'El Salvador', '2015'),
            (                   'South Sudan', '2015'),
            (         'Sao Tome and Principe', '2015'),
            (                      'Eswatini', '2015'),
            (          'Syrian Arab Republic', '2015'),
            (                         'Tonga', '2015'),
            (                        'Tuvalu', '2015'),
            ('St. Vincent and the Grenadines', '2015'),
            (                 'Venezuela, RB', '2015'),
            (                         'Samoa', '2015'),
            (                        'Kosovo', '2015'),
            (                  'South Africa', '2015')],
           names=['country', 'date'])

In [18]:
population(2015, 'Female', 20, 24)

country                         date
Armenia                         2015     133852.0
American Samoa                  2015       2535.0
Burundi                         2015     466472.0
Bahrain                         2015      44740.0
Bosnia and Herzegovina          2015     107672.0
Central African Republic        2015     209321.0
Curacao                         2015       5652.0
Dominica                        2015       3266.0
Eritrea                         2015     147052.0
Fiji                            2015      39902.0
Micronesia, Fed. Sts.           2015       5382.0
Greenland                       2015       2190.0
Guam                            2015       6395.0
Guyana                          2015      37052.0
Kiribati                        2015       5731.0
Kuwait                          2015      91595.0
Lebanon                         2015     272388.0
Lithuania                       2015      94803.0
St. Martin (French part)        2015        917.0
Moldova                         2015     111016.0
Marshall Islands                2015       1775.0
Northern Mariana Islands        2015       1955.0
New Caledonia                   2015       9760.0
Nepal                           2015    1498183.0
Oman                            2015     144534.0
Pakistan                        2015    9819854.0
Puerto Rico                     2015     120399.0
Pacific island small states     2015     107762.0
Qatar                           2015      44165.0
Saudi Arabia                    2015    1227247.0
El Salvador                     2015     315437.0
South Sudan                     2015     468023.0
Sao Tome and Principe           2015       8460.0
Eswatini                        2015      61994.0
Syrian Arab Republic            2015     604452.0
Tonga                           2015       4463.0
Tuvalu                          2015        473.0
St. Vincent and the Grenadines  2015       4365.0
Venezuela, RB                   2015    1307993.0
Samoa                           2015       8682.0
Kosovo                          2015      77621.0
South Africa                    2015    2783925.0
Name: Female, dtype: float64

In [ ]:
Population ages 00-04, female
Population ages 00-04, male


def population(year, sex, age_low, age_high, country, table):
    """Function that takes in a SEX ("Male", "Female"), ... , COUNTRY=, .. 
    and returns a statistic for the given function arguments"""
    if sex == "Male":
        variable_labels = {"Population ages " + str(age_low[0]) + "-"+ str(age_high[1]) + ", male": sex}
    elif sex=="Female":
        variable_labels = {"SP.POP." + str(age[0])+str(age[1]) + ".FE": sex}
    pop_stats = wbdata.get_dataframe(variable_labels, country=[
    'CUW', 'MHL', 'QAT', 'SYR', 'ASM', 'LBN', 'SSD', 'KWT', 'MAF', 'VEN', 
    'OMN', 'TON', 'SAU', 'XKX', 'MNP', 'MDA', 'CAF', 'BHR', 'GUY', 'WSM', 
    'PRI', 'ERI', 'FJI', 'FSM', 'TUV', 'BIH', 'GUM', 'VCT', 'ARM', 'PSS', 
    'STP', 'ZAF', 'SWZ', 'NCL', 'SLV', 'BDI', 'PAK', 'KIR', 'GRL', 'DMA', 
    'LTU', 'NPL'])
    
    pop_stats = pop_stats.filter(like=str(year), axis=0)
    return pop_stats[sex][0]